<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-justify">
        <p>I am a roboticist with interests and experience encompassing the full spectrum of robot autonomy—spanning mechanics, hardware, controls, perception, and decision-making—to enable robust, intelligent systems that operate effectively in diverse, real-world environments. Drawing on my academic research experience with manipulators, mobile robots, drones, and legged platforms and professional software experience, I focus on leveraging engineering fundamentals and rigorous problem solving to make robots to tackle complex real world problems.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>